########### LLs Video Player build ############

src/vplayer_automoc.cpp
src/vplayer

################## CMake ######################

CMakeCache.txt
CMakeFiles
cmake_install.cmake
ecm_uninstall.cmake
CTestTestfile.cmake
Makefile*

################# Other #######################

*.swp
.directory
